<div class="login bg-image">
    <form #login="ngForm">
        <table>
            <tr>
                <td class="field-label">
                    User name:
                </td>
                <td>
                    <input id="userName" type="text" name="userName" #name="ngModel" [(ngModel)]="loginForm.userName" required />
                    <label class="error-msg" *ngIf="name.touched && name.dirty && name.errors?.['required']">
                        User name is required
                    </label>
                </td>
            </tr>
            <tr>
                <td class="field-label">
                    Password:
                </td>
                <td>
                    <input id="password" type="password" name="password" #pass="ngModel" [(ngModel)]="loginForm.password" required />
                    <label class="error-msg" *ngIf="pass.touched && pass.dirty && pass.errors?.['required']">
                        Password is required
                    </label>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="button-right">
                        <button id="btnLogin" [disabled]="!login.valid" (click)="handleLogin()">Login</button>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>