<header>
    <nav>
        <a routerLink="/">StarWar Heroes</a>
        <div>
            <ul>
                <li>
                    <a>Login</a>
                    <a>Register</a>
                </li>
                <ng-template>
                    <li>
                        <a routerLink="/heros" routerLinkActive="">Super Heroes List</a>
                    </li>
                    <li>
                        <a routerLink="/heros/add" routerLinkActive="">New Super Hero</a>
                    </li>
                    <li>
                        <a (click)="handleLogout()">Logout</a>
                    </li>
                </ng-template>
            </ul>
        </div>
    </nav>
</header>