<header style="height: 60px">
    <nav class="align-menu">
        <div class="align-item-center">
            <a class="starwar-header" routerLink="/">StarWar Heroes</a>
        </div>
        <div style="display: inline-block;">
            <ul>
                <li style="margin-right: 10px;" *ngIf="!isAuthenticate ; else authlinks">
                    <a routerLink="/register" >Register</a>
                </li>
                <ng-template #authlinks>
                    <li>
                        <a routerLink="/heros" routerLinkActive="">Super Heroes List</a>
                    </li>
                    <li>
                        <a routerLink="/heros/add" routerLinkActive="">New Super Hero</a>
                    </li>
                    <li style="margin-right: 10px;">
                        <a class="logout" (click)="handleLogout()">Logout</a>
                    </li>
                </ng-template>
            </ul>
        </div>
    </nav>
</header>