<!-- <table>
  <tr *ngFor="let emp of employee">
    <td>{{emp.name}}</td>
    <td>{{emp.age}}</td>
    <td>{{emp.gender | displayGender }}</td>
    <td>{{emp.salary}}</td>
  </tr>
</table>

<table>
  <thead>
    <th>Subject</th>
    <th>Mark</th>
    <th>Grade</th>
  </thead>
  <tbody>
    <tr *ngFor="let mark of marks">
      <td>
        {{mark.subject}}
      </td> <td>
        {{mark.mark}}
      </td>
      <td>
        {{mark.grade}}
      </td>
    </tr>
  </tbody>
</table>
<br/><hr><br/>
<form [formGroup]="userFrom">
  <div> 
    Name: 
    <input formControlName="name" name="name">
    <label *ngIf="userFrom.get('name')?.hasError('required') && userFrom.get('name')?.touched
   && !userFrom.get('name')?.pristine">Name is required</label>
  </div>
  <div>
    Age: 
    <input formControlName="age" name="age"/>
    <label *ngIf="userFrom.get('age')?.hasError('required') && userFrom.get('age')?.touched">Age is required</label>
  </div>
  <div>
    Gender: 
    <input formControlName="gender" name="gender"/>
    <label *ngIf="userFrom.get('gender')?.hasError('required') && userFrom.get('gender')?.touched">Gender is required</label>
  </div>
  <div>
    Category: 
    <input type="radio" value="child" formControlName="category" /> Child
    <input type="radio" value="adult" formControlName="category" /> Adult
  </div>
  <div>
    Is UI Devloper: 
    <input type="checkbox" value="true" formControlName="isUIDevloper" /> 
  </div>
  <div>
    <select name="grade" formControlName="grade">
      <option *ngFor="let grade of gradeList" [value]="grade.value">{{grade.diaplayValue}}</option>
   </select>
  </div>
  <button [disabled]="!userFrom.valid" id="btnSubmit" (click)="submitUserForm()">Submit</button>
</form>

<br/><hr><br/>
<h3>Template form</h3>

<form #empForm="ngForm" (ngSubmit)="submitTemplateFrom()">
  Emp Name
  <input [(ngModel)]="employeeObj.empName" name="empName" #eName="ngModel" required>
  <label *ngIf="eName.touched && eName.errors?.['required']">Name is required</label>

  Emp Phone
  <input [(ngModel)]="employeeObj.empEmail" name="empEmail" #eMail="ngModel" required>
  <label *ngIf="eMail.touched && eMail.errors?.['required']">Mail is required</label>

  Emp Gender
  <input [(ngModel)]="employeeObj.empGender" name="empGender" #eGender="ngModel" required>
  <label *ngIf="eGender.touched && eGender.errors?.['required']">Gender is required</label>

  <div>
    <input type="radio" value="child" name="empCat" [(ngModel)]="employeeObj.empCategory"/> Child
    <input type="radio" value="adult" name="empCat" [(ngModel)]="employeeObj.empCategory"/> Adult
  </div>
  <div>
    <input type="checkbox" name="isUIDevloper" [(ngModel)]="employeeObj.isUIDevloper"/> is UI Devloper
  </div>
  <div>
   <select name="empGrade" [(ngModel)]="employeeObj.empGrade">
      <option *ngFor="let grade of gradeList" [value]="grade.value">{{grade.diaplayValue}}</option>
   </select>
  </div>
  <button type="submit" [disabled]="!empForm.valid">Submit</button>
</form> -->

<!-- <app-practice1></app-practice1>
<app-promise-observable></app-promise-observable>

<app-observable-subject></app-observable-subject> -->
<app-nav></app-nav>
<router-outlet></router-outlet>